@font-face {
  font-family: 'Keiner';
  src: url('/fonts/Keiner-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Keiner';
  src: url('/fonts/Keiner-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Keiner';
  src: url('/fonts/Keiner-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Keiner', system-ui, sans-serif;
  color: #2D383A;
}

html {
  scrollbar-gutter: stable;
}