@font-face {
  font-family: 'Keiner';
  src: url('/assets/Keiner-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Keiner';
  src: url('/assets/Keiner-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Keiner';
  src: url('/assets/Keiner-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neco';
  src: url('/assets/Neco-Variable.woff2') format('woff2-variations');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Keiner', system-ui, sans-serif;
  color: #2D383A;
}

html {
  scrollbar-gutter: stable;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: 'Neco', system-ui, sans-serif;
}

p {
  line-height: 2;
}

/* See: https: //github.com/11ty/eleventy/issues/457 */
p:empty {
  display: none;
}

a {
  color: #0F52BA;
}