---
layout: layout.njk
title: catallenya
---

<div>
  <h1>Catallenya</h1>
  <h1>Subtitle Test</h1>
  <button class="btn">Go Home
  </button>
  <button class="btn">Archive</button>
  <a class="btn" href="/gallery">Gallery</a>
  <button class=" btn">Writings</button>
  <button class="btn">Ahh</button>
  {% for post in collections.all | reverse %}
    {% if post.data.title %}
      <article>
        <h2>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>a
        <time>{{ post.date.toISOString().split('T')[0] }}</time>
      </article>
    {% endif %}
  {% endfor %}
  <nav>
    <h2>Categories</h2>
    <ul>
      <li>
        <a href="/film/">Film</a>
      </li>
      <li>
        <a href="/music/">Music</a>
      </li>
      <li>
        <a href="/personal/">Personal</a>
      </li>
      <li>
        <a href="/technical/">Technical</a>
      </li>
    </ul>
    <div>
      <a href="/sitemap/">View full sitemap →</a>
    </div>
  </nav>
</div>