.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid;
  text-decoration: none;
  display: inline-block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 480px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}